/***** Navigation Elements *****/


/***** Nav mixins *****/


/***** Static CSS *****/

.navbar, .navbar-brand{color:white;}

.navbar-toggler{
    &:after{ font-family: FontAwesome;content: "\f077";@include transition();display: inline-block;transform: rotate(180deg);font-size:75%;}
    &.collapsed:after{@include transition();transform: rotate(0deg);}
}

@include media-breakpoint-down(sm){
    .navbar-toggleable-sm{
        .nav-link{display:block;}

    }
}


// Give the tabs something to sit on
.nav-tabs {
  > li {
    float: left;
    // Make the list-items overlay the bottom border
    margin-bottom: -1px;

    // Actual tabs (as links)
    > a {
        margin-right: 2px;
        line-height: 1.42857143;
        border: 1px solid transparent;
        border-radius: 4px 4px 0 0;
      &:hover {
        border-color: #eee #eee #ddd;
      }
    }

    // Active state, and its :hover to override normal :hover
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: #555;
        cursor: default;
        background-color: #fff;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
      }
    }
  }

}


//Force a scrollbar to show on mobile chrome nav when the sidebar is longer than the view screen
::-webkit-scrollbar { width: 6px !important; background: rgba(0,0,0,0.08) !important; }
::-webkit-scrollbar-track {-webkit-border-radius: 10px !important; border-radius: 10px !important;}
::-webkit-scrollbar-thumb { -webkit-border-radius: 10px !important;background: rgba(0,0,0,0.3) !important;}
::-webkit-scrollbar-thumb:window-inactive {background: rgba(0,0,0,0.3) !important; }

