<div class="container">
    <h1 class="title"><i class="fa fa-search-plus"></i> Dashboard <small>Executive View</small></h1>
    <div class="card">
        <div class="card-block">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <a class="btn btn-info-outline btn-jumbo fadeIn" ui-sref="dashboard" href="#/dashboard/">
                        <i class="fa fa-money" aria-hidden="true"></i><br>
                        <h2>Income Verification</h2>
                        <hr>
                        <h3><strong>4,123</strong> Documents</h3>
                    </a>
                </div>

                <div class="col-xs-12 col-md-4">
                    <a class="btn btn-info-outline btn-jumbo fadeIn" ui-sref="coming-soon" style="animation-delay:.05s;" href="#/coming-soon">
                        <i class="fa fa-user" aria-hidden="true"></i><br>
                        <h2>Appraisal Verification</h2>
                        <hr>
                        <h3><strong>7,213</strong> Documents</h3>
                    </a>
                </div>

                <div class="col-xs-12 col-md-4">
                    <a class="btn btn-info-outline btn-jumbo fadeIn" ui-sref="coming-soon" style="animation-delay:.1s;" href="#/coming-soon">
                        <i class="fa fa-pencil-square" aria-hidden="true"></i><br>
                        <h2>Title Verification</h2>
                        <hr>
                        <h3><strong>2,982</strong> Documents</h3>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <hr />


    <a [routerLink]="['/accuracy']" routerLinkActive="active">Accuracy Dashboard</a><br />
    <a [routerLink]="['/qualify']" routerLinkActive="active">Qualify Dashboard</a><br />
    <a [routerLink]="['/communication']" routerLinkActive="active">Communication Dashboard</a>


</div>